@{
    ViewData["Title"] = "Hub";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://store.steampowered.com/app/2778590/ELDEN_RING_Shadow_of_the_Erdtree_Premium_Bundle/">Buy DLC Elden Ring</a>.</p>
</div>
